 * {
  all: unset;
  padding: 0;
  margin: 0;
	border: none;
  border-radius: 0;
  min-height: 0;
}

tooltip {
  background: @base00;
  color: @base05;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
}

#waybar {
  background: @base00;
  border-radius: 4px;
  font-family: "Fira";
}

#privacy,
#backlight,
#pulseaudio,
#network,
#clock,
#battery,
#custom-media,
#custom-power {
  padding: 3px 5px 2px 5px;
  font-size: 14px;

  color: @base04;
}

#backlight {
  color: @base0D;
}

#battery {
  color: @base0A;
}

#pulseaudio {
  color: @base0B;
}

#network {
  color: @base0E;
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
}

#custom-power {
  padding: 2px 8px 2px 6px;
}

#custom-power {
  font-size: 16px;

  color: @base05;
}

#privacy-item { 
  color: @base08;
}

#custom-separator {
  margin: 7px 4px;
  border: 1px solid @base01;
  font-size: 0px;
}

#custom-launcher {
  padding: 7px 6px 7px 11px;
  border-radius: 4px 0px 0px 4px;
  font-size: 18px;

  background: @base0C;
  color: @base00;
}

#workspaces {
  padding: 0px 4px 0px 8px;
  margin: 0px;
}

#window {
  color: @base05;
}

#workspaces button {
  margin: 1px 0px 0px -2px;
  padding-right: 6px;
  font-size: 22px;
  background: transparent;
  color: @base08;
}

#workspaces button.empty {
  color: @base01;
}

#workspaces button.visible {
  color: @base0A;
}

#workspaces button.visible.hosting-monitor {
  color: @base0B;
}

#workspaces button.special {
  color: @base0A;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
